.Menu {
    display: flex !important;
    flex-direction: row !important;
    background: rgb(27, 27, 27) !important;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none !important;
}

body {
    background-color: black;
    margin-left: 5px;
    color: aliceblue;
}

.Menu a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.row {
    background-color: black;
    color: rgb(238, 229, 229);
    overflow: hidden !important;
}

.row img.selected {
    border: 1px solid white
}

.row img.unselected {
    border: 1px solid rgb(14, 13, 13)
}

.row img {
    display: inline-flex;
    overflow: hidden !important;
    padding: 10px;
    border-radius: 30px;
    height: auto;
}

.row map {
    overflow-y: hidden !important;
}

.container {
    display: flexbox;
    overflow: hidden;
    padding-left: 30px;
    border-radius: 30px;
    height: auto;
}

.row__largeimage {
    background-position: center;
    overflow: hidden;
    height: 448px;
}

.banner {
    background-image: url(https://res.cloudinary.com/Sony-liv/image/fetch/c_fill,e_contrast:30,f_auto,fl_lossy,q_auto:low,w_1366/e_brightness:10/https://origin-staticv2.sonyliv.com/masthead_foreground/FACup21-22_Foreground_5thRound_Luton-Town-vs-Chelsea.png);
    background-size: cover;
    background-position: center;
    background-color: red;
    color: azure;
    height: 448px;
}

.banner__contents {
    margin-left: 40px;
    padding-top: 140px;
    height: 190px;
}
.newone{
    text-decoration: underline;
}
.item {
    border: 1px solid lightblue;
    margin: 5px;
    padding: 5px;
  }
  
  .item.active,
  .item:hover {
    background:gold;
  }
  
  .item:hover {
    cursor: pointer;
  }